* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-image: linear-gradient(145deg, rgb(0, 34, 184),rgb(207, 20, 45), purple); */
    background-image: linear-gradient(to top, #F1F2B5, #135058);
    background-repeat: no-repeat;
    font-family: 'Mulish', sans-serif;
    height: 100vh;
    /* font-family: 'Nunito Sans', sans-serif;
    font-family: 'Poppins', sans-serif;
    font-family: 'Quicksand', sans-serif; */
}

/*- For All Content -*/
.container {
    width: 70%;
    margin: 4em auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    font-size: 5em;
    color: rgb(232, 233, 233);
    letter-spacing: 1px;
}

.searchArea {
    margin-top: 2em;
    background-color: white;
    display: flex;
    border-radius: 15px;
    padding: 10px;
}

.search {
    font-size: 1.2em;
    background-color: white;
    border: none;
    border-radius: 15px;
}

.searchIcon {
    padding: 5px;
    width: 50px;
}

.search:focus {
    outline: 0;
}


.weatherData {
    margin-top: 4em;
    color: white;
    width: 600px;
    text-align: center;
    border-radius: 10px;
    padding: 2em 0;
}

.cityName {
    font-size: 2.5em;
}

.temp{
    font-size: 6em;
}

.description, .pressureSystems {
    font-family: 'Nunito Sans', sans-serif;
}

.description{
    font-size: 1.4em;
}

.pressureSystems {
    padding-bottom: 2em;
    font-weight: bold;
    letter-spacing: 0.5px;
}

.hidden {
    display: none;
}